### Inheritance

In [1]:
class person:
    def __init__(self,name,age):
        self.name = name
        self.age = age

    def introduce(self):
        print(f"Hi, I am {self.name} and I am {self.age} years old")

In [2]:
p1 = person('Raman',45)

In [3]:
p1.name

'Raman'

In [4]:
p1.age

45

In [5]:
p1.introduce()

Hi, I am Raman and I am 45 years old

In [6]:
class employee(person):
    pass

In [7]:
emp1 = employee('Thaman',34)

In [8]:
emp1.name

'Thaman'

In [9]:
emp1.age

34

In [11]:
emp1.introduce()

Hi, I am Thaman and I am 34 years old

In [12]:
class employee(person):

    def __init__(self,company):
        self.company = company
    
    def work(self):
        print(f"Hi, I am working at {self.company}")

In [13]:
emp2 = employee("Wipro")

In [14]:
emp2.company

'Wipro'

In [15]:
emp2.name

AttributeError: 'employee' object has no attribute 'name'

In [16]:
class employee(person):
    def __init__(self,name,age,company):
        super().__init__(name,age)
        self.company = company
    
    def work(self):
        super().introduce()
        print(f"Hi, I am working at {self.company}")

In [17]:
emp2 = employee('Suman',38,'Accenture')

In [18]:
emp2.age

38

In [19]:
emp2.name

'Suman'

In [20]:
emp2.introduce()

Hi, I am Suman and I am 38 years old

In [22]:
emp2.company

'Accenture'

In [23]:
emp2.work()

Hi, I am Suman and I am 38 years old
Hi, I am working at Accenture

### Hierarchal Inheritance

In [24]:
# parent class
class grave_hyundai:

    def __init__(self,name,location):
        self.name = name
        self.location = location
    
    def greeting(self):
        print(f"Hello {self.name} sir/madam. Welcome to our showroom")

    def models_info(self):
        print(f"We have latset models avaialble at our showroom like Grand i10 and Grand i20")

In [25]:
# child class : child1
class grandi10(grave_hyundai):

    def __init__(self,name,location,price_range):
        super().__init__(name,location)
        self.price_range = price_range
    
    def enquiry_price(self):
        super().greeting()
        print(f"Features of this model are ..... and on-road price is 10 lakhs")
        if self.price_range > 10:
            print(f"Please check our best models falling under the same range : Grand i20")
        
    def enquiry_models(self):
        super().models_info()

In [26]:
# child class: child2
class grandi20(grave_hyundai):

    def __init__(self, name, location, price_range):
        super().__init__(name, location)
        self.price_range = price_range

    def enquiry_price(self):
        super().greeting()
        print(f"Features of this model are .... and on-road price is 15 Lakhs")

    def enquiry_models(self):
        super().models_info()

In [27]:
gi10_1 = grandi10("Baman", "Wakad",12)

In [28]:
gi10_1.price_range

12

In [29]:
gi10_1.name

'Baman'

In [30]:
gi10_1.location

'Wakad'

In [31]:
gi10_1.enquiry_price()

Hello Baman sir/madam. Welcome to our showroom
Features of this model are ..... and on-road price is 10 lakhs
Please check our best models falling under the same range : Grand i20

In [32]:
gi10_2 = grandi10('naman','rahatani',8)

In [33]:
gi10_2.enquiry_price()

Hello naman sir/madam. Welcome to our showroom
Features of this model are ..... and on-road price is 10 lakhs

In [34]:
gi10_1.enquiry_models()

We have latset models avaialble at our showroom like Grand i10 and Grand i20

In [35]:
gi20_1 = grandi20('chaman','kalewadi',14)

In [36]:

gi20_1.name

'chaman'

In [37]:

# parent class methods
gi20_1.greeting()

Hello chaman sir/madam. Welcome to our showroom