### Inheritance

In [1]:
class person:
    def __init__(self,name,age):
        self.name = name
        self.age = age

    def introduce(self):
        print(f"Hi, I am {self.name} and I am {self.age} years old")

In [2]:
p1 = person('Raman',45)

In [3]:
p1.name

'Raman'

In [4]:
p1.age

45

In [5]:
p1.introduce()

Hi, I am Raman and I am 45 years old

In [6]:
class employee(person):
    pass

In [7]:
emp1 = employee('Thaman',34)

In [8]:
emp1.name

'Thaman'

In [9]:
emp1.age

34

In [11]:
emp1.introduce()

Hi, I am Thaman and I am 34 years old

In [12]:
class employee(person):

    def __init__(self,company):
        self.company = company
    
    def work(self):
        print(f"Hi, I am working at {self.company}")

In [13]:
emp2 = employee("Wipro")

In [14]:
emp2.company

'Wipro'

In [15]:
emp2.name

AttributeError: 'employee' object has no attribute 'name'

In [16]:
class employee(person):
    def __init__(self,name,age,company):
        super().__init__(name,age)
        self.company = company
    
    def work(self):
        super().introduce()
        print(f"Hi, I am working at {self.company}")

In [17]:
emp2 = employee('Suman',38,'Accenture')

In [18]:
emp2.age

38

In [19]:
emp2.name

'Suman'

In [20]:
emp2.introduce()

Hi, I am Suman and I am 38 years old

In [22]:
emp2.company

'Accenture'

In [23]:
emp2.work()

Hi, I am Suman and I am 38 years old
Hi, I am working at Accenture