### Inheritance

In [142]:
class person:
    def __init__(self,name,age):
        self.name = name
        self.age = age

    def introduce(self):
        print(f"Hi, I am {self.name} and I am {self.age} years old")

In [143]:
p1 = person('Raman',45)

In [144]:
p1.name

'Raman'

In [145]:
p1.age

45

In [146]:
p1.introduce()

Hi, I am Raman and I am 45 years old

In [147]:
class employee(person):
    pass

In [148]:
emp1 = employee('Thaman',34)

In [149]:
emp1.name

'Thaman'

In [150]:
emp1.age

34

In [151]:
emp1.introduce()

Hi, I am Thaman and I am 34 years old

In [152]:
class employee(person):

    def __init__(self,company):
        self.company = company
    
    def work(self):
        print(f"Hi, I am working at {self.company}")

In [153]:
emp2 = employee("Wipro")

In [154]:
emp2.company

'Wipro'

In [155]:
#emp2.name

In [156]:
class employee(person):
    def __init__(self,name,age,company):
        super().__init__(name,age)
        self.company = company
    
    def work(self):
        super().introduce()
        print(f"Hi, I am working at {self.company}")

In [157]:
emp2 = employee('Suman',38,'Accenture')

In [158]:
emp2.age

38

In [159]:
emp2.name

'Suman'

In [160]:
emp2.introduce()

Hi, I am Suman and I am 38 years old

In [161]:
emp2.company

'Accenture'

In [162]:
emp2.work()

Hi, I am Suman and I am 38 years old
Hi, I am working at Accenture

### Hierarchal Inheritance

In [163]:
# parent class
class grave_hyundai:

    def __init__(self,name,location):
        self.name = name
        self.location = location
    
    def greeting(self):
        print(f"Hello {self.name} sir/madam. Welcome to our showroom")

    def models_info(self):
        print(f"We have latset models avaialble at our showroom like Grand i10 and Grand i20")

In [164]:
# child class : child1
class grandi10(grave_hyundai):

    def __init__(self,name,location,price_range):
        super().__init__(name,location)
        self.price_range = price_range
    
    def enquiry_price(self):
        super().greeting()
        print(f"Features of this model are ..... and on-road price is 10 lakhs")
        if self.price_range > 10:
            print(f"Please check our best models falling under the same range : Grand i20")
        
    def enquiry_models(self):
        super().models_info()

In [165]:
# child class: child2
class grandi20(grave_hyundai):

    def __init__(self, name, location, price_range):
        super().__init__(name, location)
        self.price_range = price_range

    def enquiry_price(self):
        super().greeting()
        print(f"Features of this model are .... and on-road price is 15 Lakhs")

    def enquiry_models(self):
        super().models_info()

In [166]:
gi10_1 = grandi10("Baman", "Wakad",12)

In [167]:
gi10_1.price_range

12

In [168]:
gi10_1.name

'Baman'

In [169]:
gi10_1.location

'Wakad'

In [170]:
gi10_1.enquiry_price()

Hello Baman sir/madam. Welcome to our showroom
Features of this model are ..... and on-road price is 10 lakhs
Please check our best models falling under the same range : Grand i20

In [171]:
gi10_2 = grandi10('naman','rahatani',8)

In [172]:
gi10_2.enquiry_price()

Hello naman sir/madam. Welcome to our showroom
Features of this model are ..... and on-road price is 10 lakhs

In [173]:
gi10_1.enquiry_models()

We have latset models avaialble at our showroom like Grand i10 and Grand i20

In [174]:
gi20_1 = grandi20('chaman','kalewadi',14)

In [175]:

gi20_1.name

'chaman'

In [176]:

# parent class methods
gi20_1.greeting()

Hello chaman sir/madam. Welcome to our showroom

In [177]:
# parent class methods
gi20_1.models_info()

We have latset models avaialble at our showroom like Grand i10 and Grand i20

In [178]:
# method of respective class
gi20_1.enquiry_price()

Hello chaman sir/madam. Welcome to our showroom
Features of this model are .... and on-road price is 15 Lakhs

In [179]:
# method of respective class
gi20_1.enquiry_models()

We have latset models avaialble at our showroom like Grand i10 and Grand i20

### Multi level Inheritance

In [180]:
# parent class
class Employee:

    def __init__(self,name,employeeid):
        self.name = name
        self.employeeid = employeeid
        
    def get_employee_info(self):
        return f"Name: {self.name}, Employee ID: {self.employeeid}"

In [181]:
# child class, parent is Employee class
class Manager(Employee):

    def __init__(self, name, employeeid, department):
        super().__init__(name,employeeid)
        self.department = department

    def get_manager_info(self):
        #self.info = super().get_employee_info()
        return f"{self.get_employee_info()}, Department: {self.department}"

In [182]:
# child class, parent: Manager
class ProjectManager(Manager):

    def __init__(self, name, employeeid, department, project):
        super().__init__(name, employeeid, department)
        self.project = project
        
    def get_project_info(self):
        return f"{self.get_manager_info()}, Project: {self.project}"

In [183]:
manager1 = Manager('Raman',12678,'IT')

In [184]:
emp_data = manager1.get_employee_info()
emp_data

'Name: Raman, Employee ID: 12678'

In [185]:
emp_dept_data = manager1.get_manager_info()
emp_dept_data

'Name: Raman, Employee ID: 12678, Department: IT'

In [186]:
project_manager = ProjectManager('Priya',891234,'Sales','Sales90')

In [187]:
emp_project_data = project_manager.get_project_info()
emp_project_data

'Name: Priya, Employee ID: 891234, Department: Sales, Project: Sales90'

### Hybrid Inheritance

    2 parents and a single child

    class skating:
        def __init__(self,name):
            self.name = name
        
        def req_skating(self):
            print(f"Hi {self.name}. We provide basic skating gears. please bring safety gears from your side")

    class basketball:
        def __init__(self):
            pass
        def req_baketball(self):
            print(f"Hi  We provide basketball. please wear sports uniform for this game")

    class student(skating,basketball):
        pass

In [188]:
class skating:
    def __init__(self,name):
        self.name = name
    def req_skating(self):
        print(f"Hi {self.name}. We provide basic skating gears. Please bring safety gears from your side")

In [189]:
class basketball:
    def __init__(self):
        pass
    def req_basketball(self):
        print(f"Hi, We provide basketball. Please wear shorts uniform for this game")

In [190]:
class student(skating, basketball):
    pass

In [191]:
student1 = student('Thaman')

In [192]:
student1.name

'Thaman'

In [193]:
student1.req_skating()

Hi Thaman. We provide basic skating gears. Please bring safety gears from your side

In [194]:
student1.req_basketball()

Hi, We provide basketball. Please wear shorts uniform for this game

    class a:
        def greeting_a():
            print("hi a")

    class b(a):
        def greeting_b():
            print("hello b")

    class c(b,a):
        def welcome():
            print("Welcome to class c")

    c_obj = c
    c.greeting_a()
    c.greeting_b()
    c.welcome()

In [196]:
class a:
    def greeting_a():
        print("Hi a")

In [197]:
class b(a):
    def greeting_b():
        print("Hello b")

In [199]:
class c(b,a):
    pass

In [200]:
class c(a,b):
    pass

TypeError: Cannot create a consistent method resolution
order (MRO) for bases a, b

In [201]:
c1 = c()

In [203]:
c1.greeting_a()

TypeError: a.greeting_a() takes 0 positional arguments but 1 was given

In [204]:
c2 = c

In [205]:
c2.greeting_a()

Hi a

In [207]:
c2.greeting_b()

Hello b

In [208]:
class c(b,a):
    def welcome():
        print("Welcome to class c")

In [209]:
c3 = c

In [210]:
c3.greeting_b()

Hello b

In [211]:
c3.greeting_a()

Hi a

In [212]:
c3.welcome()

Welcome to class c