## Class
    Methods: when functions are defined inside of a class, we refer them as a method
    Attributes: the inputs/parameters we provide inside of a class/__init__ constructors

In [3]:
path = r"E:\Krutika\Datasets\50_Startups.csv"

In [4]:
import pandas as pd
df = pd.read_csv(path)
df.head

<bound method NDFrame.head of           RND      ADMIN        MKT       STATE     PROFIT
0   165349.20  136897.80  471784.10    New York  192261.83
1   162597.70  151377.59  443898.53  California  191792.06
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
20   76253.86  113867.30  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73  127382.30   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
49       0.00  116983.80   45173.06  California   14681.40>

In [5]:
df.shape

(50, 5)

In [6]:
df.columns

Index(['RND', 'ADMIN', 'MKT', 'STATE', 'PROFIT'], dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RND     50 non-null     float64
 1   ADMIN   50 non-null     float64
 2   MKT     50 non-null     float64
 3   STATE   50 non-null     object
 4   PROFIT  50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [8]:
def function_name(parameters):
    x = parameters+100
    return x

#### Instance Attributes - Attributes defined inside of a init constructor
#### Create a class person and define its attributes and methods

In [9]:
class person:
    ## Define instance attributes
    def __init__(self,name,age,occupation,stay):
        self.name = name
        self.age = age
        self.occupation = occupation
        self.stay = stay
    def talk(self):
        print(f"Hi, I am {self.name} and I am {self.age} years old")
        print(f"I live in {self.stay}")
        print(f"I workat {self.occupation}")
    def work(self,n):
        print(f"I am currently working at{self.occupation}.")
        print(f"It's been {n} years since am working at this company.")

In [ ]:
p1 = person(name='Raman', age=35, occupation='Data Analyst', stay='Pune')

In [12]:
p1.age

35

In [13]:
p1.name

'Raman'

In [14]:
p1.occupation

'Data Analyst'

In [15]:
p1.stay

'Pune'

In [17]:
p1.talk()

Hi, I am Raman and I am 35 years old
I live in Pune
I workat Data Analyst

In [20]:
p1.work(3)

I am currently working atData Analyst.
It's been 3 years since am working at this company.

#### Create a class bank that contains attributes like bank accountnumber,name,balance.Define different methods like withdrawal,deposit,transfer

In [35]:
class etl_bank:
    #define the instance attributes
    def __init__(self,account_number,account_name,balance):
        self.account_number = account_number
        self.account_name = account_name
        self.balance = balance
    
    #Create a method that performs withdrawal action
    def withdrawal(self,amount):
        if amount < self.balance:
            self.balance = self.balance - amount
        return f"Amount Withdrawan is {amount}. Your update balance is{self.balance}"

    # Create a method that deposits the amount provided by user
    def deposit(self,deposit_amount):
        self.balance = self.balance + deposit_amount
        return f"Amount Deposited is {deposit_amount}. Your updated balance is {self.balance}"
    # Create a method that transfers the amount provided by user to another account
    def transfer(self,transfer_amount,acc_no):
        self.balance = self.balance - transfer_amount
        return f"Amount being transferred is {transfer_amount}. Your update balance is {self.balance}.Amount transferred to {acc_no}"

In [23]:
cust1 = etl_bank(234223412, 'Thaman', 90000)

In [24]:
cust1.balance

90000

In [25]:
cust1.account_name

'Thaman'

In [26]:
cust1.account_number

234223412

In [28]:
cust1.withdrawal(5000)

'Amount Withdrawan is 5000. Your update balance is85000'

In [38]:
cust1.deposit(10000)

AttributeError: 'etl_bank' object has no attribute 'deposit'

In [39]:
cust1.transfer(8000,89567356)

'Amount being transferred is 8000. Your update balance is 77000'

In [40]:
cust2 = etl_bank(9876980,'suman',34543)

In [41]:
cust2.account_name

'suman'

In [42]:
cust2.account_number

9876980

## Class attributes

In [1]:
class student_preprimary:
    # Define the class attributes
    section_a = 40
    section_b = 38
    class_teacher_a = "Priya"
    class_teacher_b = "Riya"

    def welcome():
        print(f"Welcome to this Class")

In [2]:
student_1 = student_preprimary()
student_2 = student_preprimary()

In [3]:
student_1.class_teacher_a

'Priya'

In [4]:
student_2.class_teacher_b

'Riya'

In [5]:
student_preprimary.class_teacher_a

'Priya'

In [6]:
student_preprimary.class_teacher_b

'Riya'

In [7]:
student_1.welcome()

TypeError: student_preprimary.welcome() takes 0 positional arguments but 1 was given

In [8]:
class student_preprimary:
    # Define the class attributes
    section_a = 40
    section_b = 38
    class_teacher_a = "Priya"
    class_teacher_b = "Riya"

    def welcome(cls):
        print(f"Welcome to this school. We have 2 sections {cls.section_a} and {cls.section_b}")

In [9]:
student_3 = student_preprimary()

In [10]:
student_3.section_a

40

In [11]:
student_3.welcome()

Welcome to this school. We have 2 sections 40 and 38